html{
    border:35px solid black;
}
body{
    background-color:rgb(66, 4, 16);
    font-size: 18px;
}
h1{text-align: center;
    color: blue;
}
p,p2,p3{text-align: center;
    color: rgba(243, 239, 239, 0.267)
}
p2,p3{
    
}
.Aroo{
    position:absolute;
    left:44%;
    color:rgb(92, 91, 92);
}
.Aroo2{
    position:relative;
    left:44%;
    color:rgb(92, 91, 92)
}
.Timer{
    color:white;
    position: absolute;
    left:44%;
}
/* test */