html{
    border:35px solid black;
}
body{
    background-color:rgb(66, 4, 16);
    font-size: 18px;
}
h1{text-align: center;
    color: blue;
}
p{text-align: center;
    color: rgb(92, 91, 92);
}
.Aroo{
    position:absolute;
    left:44%;
}
#Timer{
    color:white;
    position: absolute;
    left:40%;
}
/* test */